<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AreaPhoto{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% block stylesheets %}{% endblock %}
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
